* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

#context {
  width: 100vw;
  height: 100vh;
  background: black;
}

#loader {
  color: white;
  line-height: 100vh;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/*****************************************/

@font-face {
  font-family: "Karrik";
  src: url("fonts/karrik/WOFF2/Karrik-Regular.woff2");
  src: url("fonts/karrik/WOFF/Karrik-Regular.woff");
  src: url("fonts/karrik/TFF/Karrik-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

/*****************************************/

html {
  font-size: 1vw;
}

#images-plan-selector {
  width: 0;
  height: 0;
  position: fixed;
  top: 50vh;
  left: 50vw;
}

#images-plan {
  position: absolute;
  width: 200vw;
  height: 200vh;
  top: -100vh;
  left: -100vw;
}

#images-plan img {
  width: 20vw;
  height: 20vw;
  margin: 0;
  padding: 0;
  position: absolute;
}

*::-moz-selection {
  color: white;
  background: black;
}
*::selection {
  color: white;
  background: black;
}

#content-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: "Chivo", sans-serif;
  font-style: normal;
}

#main-title {
  margin: 3rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}

#contact {
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  font-size: 1rem;
}

#contact > p {
  margin-bottom: 0.25rem;
  text-align: right;
}

@media (max-width: 2600px) {
  html {
    font-size: 1.25vw;
  }
}

@media (max-width: 2000px) {
  html {
    font-size: 1.75vw;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 2.5vw;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 4vw;
  }
}
