* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

#context {
  width: 100vw;
  height: 100vh;
  background: black;
}

#loader {
  color: white;
  line-height: 100vh;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
