@font-face {
  font-family: "Benne";
  src: url("fonts/Benne-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Graphik";
  src: url("fonts/Graphik-400-Regular") format("opentype");
}

html {
  font-size: calc(1vw + 1vh);
}
#navigation-wrapper {
  display: flex;
  justify-content: center;
}
#navigation-bar {
  background-color: #fff;
  opacity: 0;
  -webkit-box-shadow: 0px 5px 70px -30px rgba(0, 0, 0, 85);
  -moz-box-shadow: 0px 5px 70px -30px rgba(0, 0, 0, 85);
  box-shadow: 0px 5px 70px -30px rgba(0, 0, 0, 0.85);
  height: 64px;
  bottom: -150px;
  padding: 0 20px;
  border-radius: 100px;
  display: flex;
  align-content: center;
  position: fixed;
  transition: all 700ms cubic-bezier(0.32, 0.02, 0.3, 1);
}
#navigation-bar[currentChapter="naissance"] > a.naissance,
#navigation-bar[currentChapter="developpement"] > a.developpement,
#navigation-bar[currentChapter="realisations"] > a.realisations,
#navigation-bar[currentChapter="contact"] > a.contact {
  /*        flex: 1;*/
  margin: 0 60px;
  color: rgba(0, 0, 0, 1);
}

#navigation-bar[currentChapter="naissance"],
#navigation-bar[currentChapter="developpement"],
#navigation-bar[currentChapter="realisations"],
#navigation-bar[currentChapter="contact"] {
  bottom: 30px;
  opacity: 1;
}
#links-wrapper {
  width: 100%;
  align-items: center;
}
#navigation-bar a {
  float: left;
  flex: 0.1;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
  padding: 24px 2vh;
  text-decoration: none;
  font-size: 17px;
  transition: all 700ms cubic-bezier(0.32, 0.02, 0.3, 1);
}

#navigation-bar a:hover {
  color: black;
}
#navigation-bar a:hover {
  color: black;
}
.navigation-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: 10px;
  display: inline-block;
}
.navigation-dot-green {
  background-color: #43eb99;
}
.navigation-dot-blue {
  background-color: #2873e4;
}
.navigation-dot-purple {
  background-color: #c981e2;
}
.navigation-dot-orange {
  background-color: #ffa800;
}
.naissance {
  transition: color 200ms cubic-bezier(0.16, 1, 0.3, 1);
}
.naissance:hover {
  color: #43eb99 !important;
}
.developpement:hover {
  color: #2873e4 !important;
}
.realisations:hover {
  color: #c981e2 !important;
}
.contact:hover {
  color: #ffa800 !important;
}

.logo-container {
  width: 100%;
  margin-top: 20px;
  opacity: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  -webkit-transition: all 1400ms cubic-bezier(0.16, 1, 0.3, 1) 2s;
  -moz-transition: all 1400ms cubic-bezier(0.16, 1, 0.3, 1) 2s;
  -o-transition: all 1400ms cubic-bezier(0.16, 1, 0.3, 1) 2s;
  transition: all 1400ms cubic-bezier(0.16, 1, 0.3, 1) 2s;
}
.logo-svg img {
  width: calc(5vw + 70px);
}
.invite-scroll-container {
  width: 100%;
  bottom: 0px;
  opacity: 0;
  display: flex;
  justify-content: bottom;
  position: absolute;
  -webkit-transition: all 1400ms cubic-bezier(0.16, 1, 0.3, 1) 2s;
  -moz-transition: all 1400ms cubic-bezier(0.16, 1, 0.3, 1) 2s;
  -o-transition: all 1400ms cubic-bezier(0.16, 1, 0.3, 1) 2s;
  transition: all 1400ms cubic-bezier(0.16, 1, 0.3, 1) 2s;
}

.icon-mouse-scroll-animation {
  width: 8px;
  padding: 4px 4px;
  height: 21px;
  border: 2px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.icon-wheel-scroll-animation {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #000;
  animation-name: icon-scroll-animation;
  animation-duration: 2800ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-iteration-count: infinite;
}
@keyframes icon-scroll-animation {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

.icon-bow-1 {
  background-image: url(img/logo_bv1.svg);
}

.icon-bow-2 {
  background-image: url(img/logo_bv2.svg);
}
.icon-bow-3 {
  background-image: url(img/logo_bv3.svg);
}
.icon-bow-4 {
  background-image: url(img/logo_bv4.svg);
}

.icon-bow-1,
.icon-bow-2,
.icon-bow-3,
.icon-bow-4 {
  width: 27px;
  height: 18px;
  margin-top: 60px;
  margin-bottom: 70px;
  position: relative;
}

h1 {
  font-family: "Benne";
  font-size: calc(5vw + 16px);
  line-height: calc(5vw + 32px);
  font-weight: 100;
}
h2 {
  font-family: "Benne";
  font-size: calc(2.5vw + 16px);
  line-height: calc(2.5vw + 32px);
  font-weight: 400;
}
h3 {
  font-family: "Benne";
  font-size: calc(1.5vw + 16px);
  line-height: calc(1.5vw + 32px);
  font-weight: 400;
}
h4 {
  font-family: "Benne";
  font-size: calc(0.4vw + 16px);
  font-weight: 100;
}
h5 {
  font-family: "Benne";
  font-size: 18px;
  font-weight: 400;
  display: inline;
  color: #000;
}
html {
  font-size: calc(1vw + 1vh);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Benne";
}

#context {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#scroll-detector {
  position: fixed;
  width: calc(100vw + 20px);
  height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;
}

#content-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide {
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0;
  position: fixed;
  vertical-align: middle;
  text-align: center;
}

.slide.swipe[state="to-come"] {
  /* Dispartion lors d un retour arriere */
  top: 60px;
  opacity: 0;
  transition: top 1400ms cubic-bezier(0.16, 1, 0.3, 1),
    opacity 1400ms cubic-bezier(0.16, 1, 0.3, 1);
}

.slide.swipe[state="current"] {
  /* Apparition au scroll */
  top: 0px;
  opacity: 1;
  transition: top 1400ms cubic-bezier(0.16, 1, 0.3, 1) 1400ms,
    opacity 1400ms cubic-bezier(0.16, 1, 0.3, 1) 1400ms;
}

.slide.swipe[state="passed"] {
  /* Dispartion lors du scroll */
  top: -60px;
  opacity: 0;
  transition: top 1400ms cubic-bezier(0.16, 1, 0.3, 1),
    opacity 1400ms cubic-bezier(0.16, 1, 0.3, 1);
}

.slide.zoom[state="to-come"] {
  transition: transform 4s 0.5s, background 4s 0.5s, top 4s 0.5s;
  transform: scale(1);
  background: rgba(255, 255, 255, 1);
}

.slide.zoom[state="current"] {
  transition: transform 4s 0.5s, background 4s 0.5s, top 4s 0.5s;
  transform: scale(1);
  background: rgba(255, 255, 255, 1);
}

.slide.zoom[state="passed"] {
  transition: transform 4s 0.5s, background 4s 0.5s, top 4s 0.5s;
  transform: scale(0.25);
  background: rgba(255, 255, 255, 0);
  top: calc(-50vh + 1rem);
}

.slide-content {
  display: flex;
  flex: 1;
  width: 70%;
  height: 100%;
  margin-left: 15%;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.slide-content p {
  font-family: "Benne";
  font-size: calc(1.5vw + 16px);
  line-height: calc(1.5vw + 32px);
  font-weight: 400;
  margin: 0 auto;
}

/*
p,
span {
font-size: 2rem;
}
*/

.slide-content.intro-slide .intro {
  margin-bottom: 3rem;
}

/*
.slide-content.intro-slide {
justify-content: space-between;
}
*/

.invite-story {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 100px;
  color: white;
  padding: 15px 32px 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.invite-scroll {
  margin: 15px auto;
}

#index-slide {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  pointer-events: none;
  transition: background 2s 0.5s;
  background: rgba(255, 255, 255, 1);
}

/*
#index-slide * {
flex: 1;
}
*/

#loader-container {
  position: fixed;
  width: 20rem;
  height: 10rem;
  margin: calc(50vh - 5rem) calc(50vw - 10rem);
  transition: 1s;
}

#loader-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#loader-foreground {
  width: 0%;
  height: 100%;
  overflow: hidden;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
}

#loader-background img,
#loader-foreground img {
  width: 20rem;
}

#index-slide[state="loaded"] {
  background: rgba(255, 255, 255, 0);
}

#index-slide[state="loaded"] .logo-container {
  margin-top: 50px;
  opacity: 1;
}
#index-slide[state="loaded"] .invite-scroll-container {
  bottom: 30px;
  opacity: 1;
}

#index-slide[state="loaded"] #loader-container {
  opacity: 0;
}
#burger-icon {
  display: none;
}
@media only screen and (max-width: 700px) {
  #navigation-bar[currentChapter="naissance"] > a.naissance,
  #navigation-bar[currentChapter="developpement"] > a.developpement,
  #navigation-bar[currentChapter="realisations"] > a.realisations,
  #navigation-bar[currentChapter="contact"] > a.contact {
    /*        flex: 1;*/
    margin: 0 0px;
  }

  #navigation-bar[currentChapter="naissance"],
  #navigation-bar[currentChapter="developpement"],
  #navigation-bar[currentChapter="realisations"],
  #navigation-bar[currentChapter="contact"] {
    bottom: -0px;
    opacity: 1;
  }
  #navigation-wrapper {
    justify-content: left;
  }
  .navigation-bar-visible {
    margin-bottom: -270px;
    opacity: 0;
  }
  #navigation-bar {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
  }

  #navigation-bar a {
    width: 80%;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.3);
    justify-content: left;
    padding: 15px 0vh;
    text-decoration: none;
    font-size: 17px;
    transition: all 700ms cubic-bezier(0.32, 0.02, 0.3, 1);
  }
  #navigation-bar a:first-child {
    padding-top: 37px;
  }
  .slide-content {
    width: 80%;
    margin-left: 10%;
  }
  #burger-icon {
    outline: none;
    padding: 0;
    border: none;
    background: none;
    display: block;
    position: fixed;
    padding: 30px 30px;
    bottom: 0px;
    right: 0px;
    z-index: 99;
  }
  .close-burger,
  .open-burger {
    transition: all 700ms cubic-bezier(0.32, 0.02, 0.3, 1);
    display: flex;
    align-items: center;
  }
  .close-burger {
    position: fixed;
  }

  .burger-icon-visible {
    opacity: 0;
  }
}
